@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4f5d75;
}

.container {
  position: relative;
  max-width: 330px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  -webkit-box-shadow: -16px 20px 31px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px 20px 31px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -16px 20px 31px -8px rgba(0, 0, 0, 0.75);
}

.display {
  height: 90px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 30px;
  color: #000e1a;
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #3a6ea5;
  color: white;
}

button.operator {
  background-color: #ef8354;
  color: white;
}
